{% include base_path %}

<div class="talk-item" itemscope itemtype="http://schema.org/Event">

  <div class="talk-item__date-col">
    {% if post.date %}
      <span class="talk-item__year">{{ post.date | date: "%Y" }}</span>
      <span class="talk-item__month">{{ post.date | date: "%b" }}</span>
    {% endif %}
  </div>

  <div class="talk-item__content">
    {% if post.type %}
      <span class="talk-item__type" itemprop="eventType">{{ post.type }}</span>
    {% endif %}

    <h2 class="talk-item__title" itemprop="name">
      {% if post.url %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
      {% else %}
        {{ post.title }}
      {% endif %}
    </h2>

    {% if post.excerpt %}
      <p class="talk-item__description" itemprop="description">{{ post.excerpt | strip_html }}</p>
    {% endif %}

    {% if post.location %}
      <p class="talk-item__location" itemprop="location">
        <svg aria-hidden="true" style="width:0.875em;height:0.875em;vertical-align:-0.1em;margin-right:0.25rem;" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"/></svg>
        {{ post.location }}
      </p>
    {% endif %}
  </div>

</div>
